.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > h2 {
    text-align: center;
    color: white;
}

.btn {
    text-decoration: none;
    background-color: transparent;
    color: white;
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.btnCard {
    color: black;
    background-color: transparent;
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.btnCard:hover {
    background-color: #C04E44;
    color: white;
}
