.container {
    display: flex;
    flex-direction: row-reverse;
    margin: 8% 25%;
}

.profileBtnContainer{
    padding: 15px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    max-width: 30%;
    max-height: 30%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 44%;
    /* height: 10%; */
    border-radius: 50px;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 25px;
}

.btn {
    margin: 5px 0;
    padding: 5px 8px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 3px;
    color: white;
    background-color: #e0b654;
}

.btn:hover {
    opacity: .8;
}
