.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 8% 10%;
}

.profileBtnContainer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    max-width: 18%;
    max-height: 18%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 44%;
    /* height: 10%; */
    border-radius: 50px;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 25px;
}

.btn {
    margin: 5px 0;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    background-color: #e0b654;
}

.btn:hover {
    opacity: .8;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.checkin {
    border: 1px solid black;
    padding: 5% 10%;
    margin: 0 5%;
}
