.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  justify-items: flex-start;
  margin: 3% 10%;
}

.profileBtnContainer {
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  max-width: 18%;
  max-height: 18%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.profile > p {
  text-align: center;
}

.pic {
  width: 75px;
  height: 75px;
  /* height: 10%; */
  border-radius: 100px;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* padding: 15px;
    margin: 25px; */
}

.btn {
  margin: 5px 0;
  padding: 5px 8px;
  text-decoration: none;
  border-radius: 3px;
  color: white;
  background-color: #e0b654;
}

.btn:hover {
  opacity: 0.8;
}

.links {
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  width: 13%;
  text-align: center;
}

.checkin {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid white;
  padding: 3% 3%;
  width: 85%;
  max-width: 85%;
  background-color: #e0b654;
  border-radius: 5px;
}

.checkInText {
  font-size: 13px;
  margin-bottom: 3px;
}

.checkinPic {
  width: 50%;
  height: 175px;
  max-width: 175px;
  max-height: 175px;
  border: 1px solid black;
  border-radius: 15px;
}

.reviewContainer {
  min-width: auto;
  max-width: 275px;
  height: 100px;
  max-height: 100px;
  padding: 1%;
  border: 1px solid black;
  background-color: #ffda83be;
  overflow-y: scroll;
  overflow: hidden
}

.review {
  font-size: 15px;
}

.rating {
  font-size: .75vw;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  height: auto;
}

.checkInDate {
  font-size: 11px;
}

.userInfo {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.btn {
  font-size: 1vw;
  text-align: center;
}

.middleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.checkinTitle {
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 2%;
    color: #C04E44;
}

.username_tag {
  text-decoration: none;
  color: black;
}

.username_tag:hover {
  text-decoration: underline;
  font-weight: bold;
}
