.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-items: flex-start;
    margin: 8% 10%;
}

.profileBtnContainer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    max-width: 18%;
    max-height: 18%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-ce;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.pic {
    width: 44%;
    /* height: 10%; */
    border-radius: 50px;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 25px;
}

.btn {
    margin: 5px 0;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    background-color: #e0b654;
}

.btn:hover {
    opacity: .8;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.checkin {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid white;
    padding: 5% 5%;
    width: 65%;
    max-width: 65%;
    background-color: #e0b654;
    border-radius: 5px;
}

.checkInText {
    font-size: small;
    margin-bottom: 3px;
}

.checkinPic {
    width: 175px;
    max-width: 175px;
    height: 175px;
    max-height: 175px;
    border: 1px solid black;
    border-radius: 15px;
}

.review {
    font-size: smaller;
    width: 300px;
    max-width: 300px;
    height: 100px;
    max-height: 100px;
    padding: 2px;
    border: 1px solid black;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

.checkInDate {
    font-size: 11px;
}
