.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > h2 {
    text-align: center;
    color: white;
}

.btn {
    text-decoration: none;
    background-color: transparent;
    color: white;
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

.btnCard {
    color: #C04E44;
    background-color: transparent;
    padding: 2px;
}
