.user_container {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilepic {
    width: 75px;
    border-radius: 50px;
}

.checkin_title {
    font-size: 1.7em;
    font-weight: bold;
    margin: 2% 0;
    color: #C04E44;
    text-align: center;
}

.checkin {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid white;
    padding: 3% 3%;
    width: 98%;
    max-width: 98%;
    background-color: #e0b654;
    border-radius: 5px;
}

.user_info {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}
