* {
    font-family: 'Inter', sans-serif;;
 }

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://content.rollcall.com/wp-content/uploads/2021/04/pizza.jpg");
    /* background-image: url("https://content.rollcall.com/wp-content/uploads/2021/04/pizza.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .7;
    box-sizing: border-box;
}

.signup {
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;
    max-width: 50%;
    height: auto;
}

.signupForm {
    display: flex;
    flex-direction: column;
    /* align-items: start;
    justify-content: start; */
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    background-color: white;
    z-index: 1;
}

.signupForm h2 {
    text-align: center;
    font-size: 58px;
    font-weight: bolder;
    margin: 18px 0px
}

.signupForm p {
    text-align: center;
    font-size: 20px;
}

.errors {
    color: red
}

.formInput {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px 0 10px;
}

.btn {
    background-color: #C04E44;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 100%;
}

.btn:hover {
    opacity: .8;
}

.login {
    text-align: center;
    margin: 18px 0 0 0;
    font-size: 15px;
}
