.navContainer {
    display: flex;
    padding: 0 5%;
    justify-content: space-around;
    height: 4em;
    background-color: rgba(0,0,0, .8);
}

.sectionsOne {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: start;
    align-items: center;
}

.sectionsTwo {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    color: white;
    text-decoration: none;
    text-emphasis: none;
    margin: 0 15px;
}

.home {
    font-size: xx-large;
}
